.main-header {
    background: radial-gradient(circle, rgba(242, 243, 240, 0.2) 10%, rgba(0,0,0,0.6) 90%), url("./backgrounds/cover_1.JPG") 60% 90%;
    padding-top: 30vh;
    background-size: cover;
    color: #fff;
    padding-bottom: 2em;
    height: 70vh;
}

.container {
    padding: 1.5em 3em;
}

@media (max-width: 1280px) {
    .container {
        padding: 1.5em 2em;
    }
} 

.blog-container {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    width: 100%;
}

.blog-container > article {
    flex: 1 0 400px;
}