.nav-header {
    background-color: white;
    display: flex;
    color: var(--header-title-text);
    font-size: 1.3rem;
    align-items: center;
}

@media (max-width: 550px) {
    .nav-header {
        flex-direction: column;
    }

    .nav-header span {
        padding-bottom: 1em;
    }

    nav {
        margin-right: auto;
        padding-top: 1em;
        border-top: 1px solid gray;
    }
}

nav {
    display: flex;
    justify-content: end;
    gap: 1em;
    margin-left: auto;
}

.nav-header  > img {
    margin-right: 0.5em;
}

nav a {
    color: var(--header-link-text);
    text-decoration: none;
}