article.breadcrumb {
    max-width: calc((100%/3) - 2em);
}

article.breadcrumb > h2 {
    font-size: 1.1rem;
}

article.breadcrumb img {
    height: 360px;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

@media (max-width: 1280px) {
    article.breadcrumb {
        max-width: calc((100%/2) - 1em);
    }
}

@media (max-width: 900px) {
    article.breadcrumb {
        max-width: 100%;
    }
}