:root {
    --header-title-text: #0E0E0E;
    --header-link-text: #090909;
    --main-blog-body-text: #505050;
    --footer-background: #202020;
    --footer-title: #ECECEC;
    --footer-copyright: #D7D7D7;
  }